html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: white;
}

.card {
  width: 60%;
  margin: 0 auto;
  padding: 2em;
  background: white;
  border-radius: 0.4em;
  text-align: center;
  /* what we used on more grey background */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
  /* for white card on white background- 20 or 30 for third value- after this part of challenge 2 discusses how to do it with different colored backgrounds */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  /* hard example */
  /* box-shadow: 0px 4px 3px rgba(0,0,0,0.1); */
}
/* box-shadow: horizontal vertical blur color; 
       box-shadow: 10px 10px 10px rgba(0,0,0,0.5); */

.title {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0;
}

.desc {
  line-height: 1.7em;
  font-size: 0.9em;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  background: #005bf7;
  color: white;
  display: inline-block;
  padding: 0.7em 2em;
  border-radius: 2em;
  margin-top: 1em;
}
